<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.fd.font.cloud.**.controller"/>

    <!-- spring mvc related -->
    <bean id="utf8Charset" class="java.nio.charset.Charset"
          factory-method="forName">
        <constructor-arg value="UTF-8"/>
    </bean>

    <!--Set endpoints case insensitive, spring is case-sensitive by default-->
    <bean id="pathMatcher" class="org.springframework.util.AntPathMatcher">
        <property name="caseSensitive" value="false" />
    </bean>

    <mvc:annotation-driven>
        <mvc:path-matching path-matcher="pathMatcher" />
        <mvc:message-converters>
            <bean class="com.fd.font.cloud.base.FastJsonJsonpHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
                <property name="features">
                    <array value-type="com.alibaba.fastjson.serializer.SerializerFeature">
                        <!-- <value>WriteMapNullValue</value> -->
                        <value>QuoteFieldNames</value>
                        <value>DisableCircularReferenceDetect</value><!-- 解决fastjson循环引用问题 -->
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:default-servlet-handler/>

    <!-- file upload related -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!--one of the properties available;the maximum upload size in bytes 100M -->
        <property name="maxUploadSize" value="104857600"/>
    </bean>
     <!-- 配置直接转发的页面 -->  
    <import resource="classpath:spring-default-controller.xml"/>
    <mvc:view-resolvers>
        <mvc:jsp cache-views="false" prefix="/WEB-INF/pro/" suffix=".jsp" view-class="org.springframework.web.servlet.view.JstlView"/>
    </mvc:view-resolvers>
    <!-- 临时图片地址映射 -->
<!--     <mvc:resources mapping="/home/pictures/**" location="file:/home/pictures/"></mvc:resources> -->
    
</beans>
