select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("/pro/img/select_arrow.png") no-repeat  98% center !important;
    background-size:14px !important;
    padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
/*select::-ms-expand { display: none; }*/

/*管理中心首页table 应用详情table*/
.table{
    margin-bottom:0;
    border-collapse: separate;
    border-radius:4px;
    -webkit-border-radius:4px;
    overflow:hidden;
    background:url(/pro/img/table_bg.png) no-repeat 0 0;
    background-size:100% 50px;
}
label{
    margin-bottom:0;
    font-weight:normal;
}
.table img {
    margin:0 auto;
}
.table_app{
    text-align: center;
}
.table_app thead{
    color: #fff;
    text-align: center;
}
.table_app thead > tr > td{
    padding: 12px 0;
    height:26px;
    line-height:26px;
}
.table_app tbody > tr > td {
    height:60px;
    line-height:60px;
    text-align: center;
    padding:20px 0;
    border:none;
    font-size:16px;
    border-bottom:1px solid #e8e8e8;
}
/*字体列表*/
.row{
    margin-right:0;
    margin-left:0;
}
.table_font .font_img{
    width:132px;
    height:66px;
    margin:0 auto;
}
.table_font{
    text-align:center;
}
.table_font .table_top{
    padding: 12px 0;
    line-height:26px;
    background:#68BFFC;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
}
.table_font .table_top li{
    color:#fff !important;
}
.table_font .table_main ul{
    position:relative;
    padding:17px 0;
    border-bottom:1px solid #e8e8e8;
}
.table_font .table_main ul:last-of-type{
    border-bottom:none;
}
.table_font .table_main ul li:nth-of-type(1),
.table_font .table_main ul li:nth-of-type(4){
    line-height:66px;
}
.authorized_font input[type=checkbox]{
    display:none;
}
.authorized_font .check_all~label{
    float:left;
    width:100%;
    height:26px;
    line-height:26px;
    padding-left:40px;
    background:url(/pro/img/check_all.png) no-repeat 40px center;
    background-size:16px;
    margin-bottom:0;
}
.authorized_font .check_all:checked~label{
    background:url(/pro/img/check_all1.png) no-repeat 40px center;
    background-size:16px;
}
.authorized_font .check_font~label{
    float:left;
    width:100%;
    height:66px;
    margin-bottom:0;
    background:url(/pro/img/checkbox.png) no-repeat 40px center;
    background-size:16px;
}
.authorized_font .check_font:checked~label{
    background:url(/pro/img/checkbox1.png) no-repeat 40px center;
    background-size:16px;
}
.authorized_font .check~label{
    float:left;
    background:url(/pro/img/checkbox.png) no-repeat 0 center;
    background-size:16px;
    padding-left:46px;
    margin-left:40px;
}
.authorized_font .check:checked~label{
    background:url(/pro/img/checkbox1.png) no-repeat 0 center;
    background-size:16px;
}
.content_top{
    position:relative;
    padding-top:31px;
    padding-bottom:15px;
}
.content_top .tool_tip {
    position: absolute;
    top:34px;
    left:117px;
    display: block;
    padding:0 10px 0 15px;
    height:28px;
    line-height:28px;
    text-align:center;
    color:#bababa;
    font-size: 12px;
    background:url("/pro/img/tip.png") no-repeat 0 0 #fff;
    background-size:100% 100%;
}
.content_top .top_index{
    padding-top:6px;
}
.content_top .top_index a{
    color:#68BFFC;
    font-size:18px;
}
.content_top .top_index span:before{
    content:"";
    display:inline-block;
    width:20px;
    height:22px;
    background:url(/pro/img/index_arrow.png) no-repeat 0 10px;
    background-size:12px;
}

/*创建应用*/
.upload_box{
    position:relative;
    width:85px;
    height:61px;
}
.upload_box .upload_pre{
    width:100%;
    height:100%;
    display:none;
}
.upload_box .upload_btns{
    width:100%;
    height:100%;
    position:relative;
}
.upload_box  .file_btn,
.upload_box .upload_btn {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.upload_box  .file_btn{
    opacity:0;
    z-index:2;
}
.upload_box .upload_btn{
    background:url(/pro/img/icon_img.png) no-repeat center;
    background-size:100%;
    border:none;
    outline:none;
}
.upload_box .del_btn{
    display:none;
    width:22px;
    height:22px;
    background:url(/pro/img/icon_close.png) no-repeat center;
    background-size:20px;
    position:absolute;
    right:-20px;
    top:-20px;
    cursor:pointer;
}
.app_create li{
    position:relative;
}
.app_create .img_tip{
    font-size:14px;
    color:#bababa;
    position:absolute;
    left:110px;
    top:20px;
}
.app_create .check_line{
    font-size:14px;
}
.app_create .btn_group{
    text-align:center;
    padding-top:15px;
}
.app_create .form_left{
    float:left;
    line-height:48px;
    position:relative;
}
.app_create .form_left:before{
    content:"*";
    color:#f00;
    position:absolute;
    left:-10px;
}
.clear_input{
    display:block;
    width:18px;
    line-height:46px;
    text-align:center;
    position:absolute;
    right:2%;
    top:1px;
    font-size:20px;
    display:none;
    background:#fff;
    cursor:pointer;
    color:#ccc;
}
.error_tip,
.name_tip{
    font-size:12px;
    padding-top:10px;
    padding-left:16px;
    position:absolute;
    bottom:-18px;
    color:#bababa;
}
.error_tip{
    color:#f00;
    background:url(/pro/img/error.png) no-repeat 0 6px;
    background-size:14px;
}
/*应用详情*/
.input{
    position:relative;
    margin-bottom:18px;
}
.app_key,
.app_secret{
    word-wrap:break-word;
}
.icon_box{
    position:relative;
}
.icon_box .upload_btns{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.icon_box .upload_btns .upload_btn,
.icon_box .upload_btns .file_btn{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.icon_box .upload_btns .upload_btn{
    background:#fff;
    border:1px solid #ccc;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:#ccc;
    font-size:24px;
}
.icon_box .upload_btns .upload_btn span{
    font-size:50px;
}
.icon_box .upload_btns .file_btn{
    z-index:2;
    background:rgba(0,0,0,0);
    opacity:0;
}
.icon_box  .del_btn{
    width: 25px;
    height: 25px;
    background: url(/pro/img/icon_close.png) no-repeat center ;
    background-size:22px;
    position: absolute;
    right: -25px;
    top: -20px;
    cursor: pointer;
    z-index:2;
}
.icon_box img {
    width: 100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    border-radius:4px;
    -webkit-border-radius:4px;
}
.app_center>p:nth-of-type(2){
    margin:15px 0;
}

.app_center ul{
    font-size:14px;
}
.app_center ul>li{
    padding:2px 0 1px 0;
    color:#494949;
}
.authorized_font .authorized_top{
    padding:23px 0;
    line-height:34px;
    position:relative;
}
.authorized_font .authorized_top .btn{
    float:right;
}
.authorized_font .authorized_top .tip{
    position:absolute;
    top:26px;
    left:72px;
    display: block;
    padding:0 10px 0 15px;
    height:28px;
    line-height:28px;
    text-align:center;
    color:#bababa;
    font-size: 12px;
    background:url("/pro/img/tip.png") no-repeat 0 0;
    background-size:100% 100%;
}
.authorized_font .authorized_bottom{
    height:100px;
    line-height:60px;
    padding:20px 15px;
}
.authorized_font .authorized_bottom a{
    font-size:16px;
    margin-left:30px;
    cursor:pointer;
    float:right;
}
/*添加字体列表*/
.modal_font{
    width:880px;
    background:#fff;
    transform:translate(-50%,0);
    border-radius:6px;
    -webkit-border-radius:6px;
    overflow:hidden;
    box-shadow:0 3px 9px rgba(0, 0, 0, .5);
    -webkit-box-shadow:0 3px 9px rgba(0, 0, 0, .5);
}
.modal_font .modal_font_top{
    width:100%;
    background:#fff;
    height:40px;
    position:relative;
}
.modal_font .modal_font_top .btn_close{
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:60px;
    height:38px;
    line-height:38px;
    text-align:center;
    font-size:30px;
    cursor:pointer;
    color:#bababa;
    background: url("/pro/img/icon_close1.png") no-repeat center;
    background-size:16px;
}
.modal_font .font_list ul{
    margin-right:0;
    margin-left:0;
}
.modal_font .font_list{
    padding:10px 20px;
    max-height:676px;
    overflow:auto;
    position:relative;
}
.modal_font .font_list ul li{
    padding:10px 6px;
}
.modal_font .font_list ul .font{
    box-shadow:0 0 2px 2px rgba(0,0,0,0.1);
    border-radius:4px;
    overflow:hidden;
}
.modal_font .font_list .font p{
    padding:10px 6px;
    font-size:12px;
    line-height:24px;
}
.modal_font .font_list .font p span{
    display:inline-block;
    float:left;
}
.modal_font .font_list .font p span:nth-of-type(1){
    display:inline-block;
    margin-right:4px;
    max-width:80px;
    height:24px;
    overflow:hidden;
}
.modal_font .btn_small{
    border: 1px solid #68BFFC;
    background:#fff;
    color:#68BFFC;
    font-size: 12px;
    padding:2px 6px;
    min-width:60px;
    float:right;
}
.modal_font .btn_small:hover{
    background:#68BFFC;
    color:#fff;
}
.modal_font .font_list .img_wrap{
    width:100%;
    height:108px;
    position:relative;
    overflow:hidden;
}
.modal_font .font_list .img_wrap img{
    width:100%;
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
}
.modal_font .more{
    text-align:center;
    height:40px;
    padding:10px 0;
}
.modal_font .more .btn{
    display:none;
}
.modal_font .more .btn:hover{
    color:#68BFFC;
}
/*重新授权高亮*/
.status_light{
    color:#68BFFC;
    cursor:pointer;
}
.null_msg{
    color:#bababa;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}
/*弹框样式*/
.normal_alert{
    width:438px;
    background:#fff;transform:translate(-50%,20%);
    -webkit-border-radius:6px;
    border-radius:6px;
    box-shadow:0 3px 9px rgba(0, 0, 0, .5);
    -webkit-box-shadow:0 3px 9px rgba(0, 0, 0, .5);
}
.enlarge_box{
    width:100%;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    z-index:99;
    background:rgba(0,0,0,0.4);
    display:none;
}
.enlarge_box .img_wrap .close_img{
    display:block;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    color:#fff;
    font-size:30px;
    position:absolute;
    right:-40px;
    top:-40px;
    cursor:pointer;
}
.enlarge_box .img_wrap{
    max-width:800px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#fff;
}
.enlarge_box .img_wrap img{
    width:100%;
}
@media screen and (max-width: 768px){
    .app_create .form_right{
        position:relative;
        width:100%;
        float:left;
    }
}
@media screen and (min-width: 768px){
    /*创建应用*/
    .app_create{
        padding:0 100px;
    }
    .app_create li{
        margin:30px 0;
    }
    .app_create .form_right{
        position:relative;
        margin-left:110px;
        max-width:445px;
        float:none;
    }
    .app_create .btn_group button{
        margin:0 40px;
    }
    /*应用详情*/
    .app_left{
        width:345px;
        height:167px;
        float:left;
    }
    .app_center{
        margin-left:385px;
        margin-right:300px;
    }
    .app_center ul>li>span:nth-of-type(1){
        display:inline-block;
        width:100px;
        float:left;
    }
    .app_right{
        width:300px;
        float:right;
    }
    .app_right .btn{
        float:right;
    }
    .app_center .btns{
        margin-top:40px;
        text-align:center;
    }

    .app_center input,
    .app_center select{
        color:#bababa;
    }
    .app_center input:focus,
    .app_center select:focus
    {
        color:#494949;
    }
    /*添加字体*/
}