<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fd.font.cloud.font.dao.FontVersionPicMapper" >
  <resultMap id="BaseResultMap" type="com.fd.font.cloud.font.entity.FontVersionPic" >
    <id column="pic_id" property="picId" jdbcType="INTEGER" />
    <result column="font_version_id" property="fontVersionId" jdbcType="INTEGER" />
    <result column="font_id" property="fontId" jdbcType="INTEGER" />
    <result column="pic_type" property="picType" jdbcType="TINYINT" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pic_id, font_version_id, font_id, pic_type, pic_url, width, height, is_deleted, create_by, 
    create_time, update_by, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fd.font.cloud.font.entity.FontVersionPicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_font_version_pic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_font_version_pic
    where pic_id = #{picId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_font_version_pic
    where pic_id = #{picId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fd.font.cloud.font.entity.FontVersionPicExample" >
    delete from t_font_version_pic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fd.font.cloud.font.entity.FontVersionPic" >
    <selectKey resultType="java.lang.Integer" keyProperty="picId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_font_version_pic (font_version_id, font_id, pic_type, 
      pic_url, width, height, 
      is_deleted, create_by, create_time, 
      update_by, update_time)
    values (#{fontVersionId,jdbcType=INTEGER}, #{fontId,jdbcType=INTEGER}, #{picType,jdbcType=TINYINT}, 
      #{picUrl,jdbcType=VARCHAR}, #{width,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=TINYINT}, #{createBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fd.font.cloud.font.entity.FontVersionPic" >
    <selectKey resultType="java.lang.Integer" keyProperty="picId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_font_version_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fontVersionId != null" >
        font_version_id,
      </if>
      <if test="fontId != null" >
        font_id,
      </if>
      <if test="picType != null" >
        pic_type,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fontVersionId != null" >
        #{fontVersionId,jdbcType=INTEGER},
      </if>
      <if test="fontId != null" >
        #{fontId,jdbcType=INTEGER},
      </if>
      <if test="picType != null" >
        #{picType,jdbcType=TINYINT},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fd.font.cloud.font.entity.FontVersionPicExample" resultType="java.lang.Integer" >
    select count(*) from t_font_version_pic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_font_version_pic
    <set >
      <if test="record.picId != null" >
        pic_id = #{record.picId,jdbcType=INTEGER},
      </if>
      <if test="record.fontVersionId != null" >
        font_version_id = #{record.fontVersionId,jdbcType=INTEGER},
      </if>
      <if test="record.fontId != null" >
        font_id = #{record.fontId,jdbcType=INTEGER},
      </if>
      <if test="record.picType != null" >
        pic_type = #{record.picType,jdbcType=TINYINT},
      </if>
      <if test="record.picUrl != null" >
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.width != null" >
        width = #{record.width,jdbcType=INTEGER},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_font_version_pic
    set pic_id = #{record.picId,jdbcType=INTEGER},
      font_version_id = #{record.fontVersionId,jdbcType=INTEGER},
      font_id = #{record.fontId,jdbcType=INTEGER},
      pic_type = #{record.picType,jdbcType=TINYINT},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      width = #{record.width,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fd.font.cloud.font.entity.FontVersionPic" >
    update t_font_version_pic
    <set >
      <if test="fontVersionId != null" >
        font_version_id = #{fontVersionId,jdbcType=INTEGER},
      </if>
      <if test="fontId != null" >
        font_id = #{fontId,jdbcType=INTEGER},
      </if>
      <if test="picType != null" >
        pic_type = #{picType,jdbcType=TINYINT},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pic_id = #{picId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fd.font.cloud.font.entity.FontVersionPic" >
    update t_font_version_pic
    set font_version_id = #{fontVersionId,jdbcType=INTEGER},
      font_id = #{fontId,jdbcType=INTEGER},
      pic_type = #{picType,jdbcType=TINYINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where pic_id = #{picId,jdbcType=INTEGER}
  </update>
  <insert id="insertBatchSelective" parameterType="java.util.List" >
    insert into t_font_version_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="list[0].picId!=null" >
        pic_id,
      </if>
      <if test="list[0].fontVersionId!=null" >
        font_version_id,
      </if>
      <if test="list[0].fontId!=null" >
        font_id,
      </if>
      <if test="list[0].picType!=null" >
        pic_type,
      </if>
      <if test="list[0].picUrl!=null" >
        pic_url,
      </if>
      <if test="list[0].width!=null" >
        width,
      </if>
      <if test="list[0].height!=null" >
        height,
      </if>
      <if test="list[0].isDeleted!=null" >
        is_deleted,
      </if>
      <if test="list[0].createBy!=null" >
        create_by,
      </if>
      <if test="list[0].createTime!=null" >
        create_time,
      </if>
      <if test="list[0].updateBy!=null" >
        update_by,
      </if>
      <if test="list[0].updateTime!=null" >
        update_time,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator="," >
      <trim prefix=" (" suffix=")" suffixOverrides="," >
        <if test="item.picId!=null" >
          #{item.picId,jdbcType=INTEGER},
        </if>
        <if test="item.fontVersionId!=null" >
          #{item.fontVersionId,jdbcType=INTEGER},
        </if>
        <if test="item.fontId!=null" >
          #{item.fontId,jdbcType=INTEGER},
        </if>
        <if test="item.picType!=null" >
          #{item.picType,jdbcType=TINYINT},
        </if>
        <if test="item.picUrl!=null" >
          #{item.picUrl,jdbcType=VARCHAR},
        </if>
        <if test="item.width!=null" >
          #{item.width,jdbcType=INTEGER},
        </if>
        <if test="item.height!=null" >
          #{item.height,jdbcType=INTEGER},
        </if>
        <if test="item.isDeleted!=null" >
          #{item.isDeleted,jdbcType=TINYINT},
        </if>
        <if test="item.createBy!=null" >
          #{item.createBy,jdbcType=INTEGER},
        </if>
        <if test="item.createTime!=null" >
          #{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateBy!=null" >
          #{item.updateBy,jdbcType=INTEGER},
        </if>
        <if test="item.updateTime!=null" >
          #{item.updateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List" >
    <foreach collection="list" item="item" index="index" separator=";" >
      update t_font_version_pic
      <set >
        <if test="item.fontVersionId!=null" >
          font_version_id=#{item.fontVersionId,jdbcType=INTEGER},
        </if>
        <if test="item.fontId!=null" >
          font_id=#{item.fontId,jdbcType=INTEGER},
        </if>
        <if test="item.picType!=null" >
          pic_type=#{item.picType,jdbcType=TINYINT},
        </if>
        <if test="item.picUrl!=null" >
          pic_url=#{item.picUrl,jdbcType=VARCHAR},
        </if>
        <if test="item.width!=null" >
          width=#{item.width,jdbcType=INTEGER},
        </if>
        <if test="item.height!=null" >
          height=#{item.height,jdbcType=INTEGER},
        </if>
        <if test="item.isDeleted!=null" >
          is_deleted=#{item.isDeleted,jdbcType=TINYINT},
        </if>
        <if test="item.createBy!=null" >
          create_by=#{item.createBy,jdbcType=INTEGER},
        </if>
        <if test="item.createTime!=null" >
          create_time=#{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateBy!=null" >
          update_by=#{item.updateBy,jdbcType=INTEGER},
        </if>
        <if test="item.updateTime!=null" >
          update_time=#{item.updateTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where 
      pic_id = #{item.picId,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>